<!DOCTYPE html>
<html>
    <head>
        <title>Comment Section</title>
    </head>
    <body>
        <a href="/allcomments" method="post" > All Comments </a>
        <a href="/mtcomments"> <u>  My Comments </u> </a>


    </body>
</html>